.rules {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-top: auto;
    right: 2rem;
    bottom: 1rem;
}

.resetScore-button, .rule-button {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1rem;
    padding: 0.5rem 2rem;
    text-align: center;
    color: white;
    background-color: transparent;
    border: 1px solid rgb(140, 172, 172);
    border-radius: 0.6rem;
}

.rules button:hover {
    color: black;
    background-color: rgb(140, 172, 172);
    scale: 1.1;
    cursor: pointer;
}


@media screen and (max-width: 1024px) {
    .rules {
        right: 3rem;
    }

    .resetScore-button, .rule-button {
        font-size: 3rem;
    }
}

@media screen and (max-width: 768px) {
    .rules {
        width: 30%;
        align-self: center;
        margin-bottom: 5%;
        gap: 1rem;
        position: initial;
    }

    .resetScore-button, .rule-button {
        padding: 1rem;
    }
}
