.formStep5 .info {
  width: 80%;
  display: grid;
  place-items: center;
  margin: 15% 10% 0 10%;
  text-align: center;
}

.thankyou-icon {
  width: 100px;
  height: 100px;
}

@media (max-width: 768px) {
  .formStep5 .info {
    margin-top: 10%;
    padding-right: 6%;
  }
  .thankyou-icon {
    width: 70px;
    height: 70px;
  }
}
