.plan-options {
  width: 95%;
  height: 50%;
  display: flex;
  justify-content: space-between;
}

.plan-options input {
  display: none;
}

.plan-card {
  width: 30%;
  flex-direction: column;
  padding: 15px;
  border: 1px solid silver;
  border-radius: 8px;
  cursor: pointer;
}

.plan-card.active {
  background-color: #f0f8ff;
  border-color: darkslateblue;
}

.plan-card img {
  width: 50px;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 25%;
}

.plan-title {
  font-weight: 500;
  margin: 0;
}

.plan-price {
  font-size: 16px;
  margin: 5px 0;
}

.billing-toggle-container {
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  padding: 10px;
  background-color: #f0f8ff;
  border-radius: 8px;
}

.billing-toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 230px;
}

.billing-toggle span.active {
  color: #001f3f;
}

.billing-toggle span {
  margin: 0;
  text-align: center;
  font-weight: 500;
  color: silver;
}

.slider-checkbox {
  margin: 0;
  margin-top: 5px;
  -webkit-appearance: none;
  appearance: none;
  width: 50px;
  height: 24px;
  background-color: #001f3f;
  border-radius: 12px;
  cursor: pointer;
  position: relative;
}

.slider-checkbox:checked {
  background-color: #001f3f;
}

.slider-checkbox:before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  top: 3px;
  left: 3px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s;
}

.slider-checkbox:checked:before {
  transform: translateX(26px);
}

.error-message {
  margin-top: 25px;
  margin-right: 10%;
  color: red;
  text-align: center;
}

@media (max-width: 768px) {
  .plan-options {
    flex-direction: column;
    margin-left: 5%;
  }

  .plan-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 95%;
    margin-top: 20px;
    padding: 20px;
  }

  .plan-card img {
    margin-top: 0;
    margin-bottom: 3%;
  }

  .plan-content {
    margin-left: 20px;
    margin-bottom: 0;
  }

  .billing-toggle-container {
    width: 90%;
    margin-top: 5%;
    margin-left: 5%;
    padding: 15px;
  }
}
