.plan {
  width: 85%;
  display: flex;
  justify-content: space-between;
}

.plan input {
  display: none;
}

.planSelection {
  width: 30%;
  height: auto;
  margin-top: 3%;
  border: 1px solid silver;
  border-radius: 8px;
  cursor: pointer;
}

.planSelection.active {
  background-color: #f0f8ff;
  border-color: darkslateblue;
}

.planSelection img,
h3 {
  margin-top: 10%;
  margin-left: 5%;
}

.planSelection h3 {
  font-weight: 500;
  margin-top: 30%;
  margin-bottom: 1%;
}

.planSelection p,
.offer {
  margin-left: 5%;
  margin-bottom: 1%;
  font-size: 18px;
}

.slider-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85%;
  height: 8%;
  margin-top: 5%;
  background-color: #f0f8ff;
  border-radius: 8px;
}

.billingToggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 230px;
}

.billingToggle span.active {
  color: #001f3f;
}

.billingToggle span {
  margin: 0;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  color: silver;
}

.slider-checkbox {
  margin: 0;
  margin-top: 5px;
  -webkit-appearance: none;
  appearance: none;
  width: 50px;
  height: 24px;
  background-color: #001f3f;
  border-radius: 12px;
  cursor: pointer;
  position: relative;
}

.slider-checkbox:checked {
  background-color: #001f3f;
}

.slider-checkbox:before {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 18px;
  height: 18px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s;
}

.slider-checkbox:checked:before {
  transform: translateX(26px);
}

.errorMessage {
  margin-top: 25px;
  margin-right: 10%;
  font-size: 26px;
  color: red;
  text-align: center;
}

@media only screen and (max-width: 790px) {
  .formStep2 {
    height: 650px !important;
  }

  .plan {
    flex-direction: column;
    margin-left: 5%;
    height: 55%;
  }

  .planSelection {
    display: flex;
    width: 100%;
    height: 25%;
  }

  .planSelection img {
    margin-top: 3%;
    margin-left: 5%;
  }

  .planSelection h3 {
    margin-top: 3%;
    margin-left: 3%;
    position: relative;
  }

  .planSelection p {
    position: fixed;
    left: 17.2%;
    margin-top: 5%;
  }

  .offer {
    position: absolute;
    left: 14%;
    margin-top: 9%;
  }

  .slider-container {
    background-color: transparent;
    margin-left: 5%;
  }
}
