.summary {
  width: 85%;
  background-color: #f0f8ff;
  border-radius: 8px;
  padding: 20px;
}

.plan-info,
.addons-info {
  margin-left: 3%;
  width: 90%;
  margin-bottom: 20px;
}

.plan-info {
  margin-top: -2%;
  margin-bottom: 1%;
  border-bottom: 1px solid silver;
  position: relative;
}

.plan-info h3 {
  margin-bottom: 0;
}

.plan-info span {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 18px;
  font-weight: bold;
}

.addon-item {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
}

.addon-item p,
.addon-item span {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
}

.total-info {
  width: 85%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.total-info p {
  margin-left: 3%;
  margin-top: 3%;
  font-size: 16px;
}

.total-info span {
  color: #244fa5;
  margin-top: 3%;
  margin-right: 5%;
  font-size: 20px;
  font-weight: bold;
}

.button-change {
  all: unset;
  margin-bottom: 20px;
  color: silver;
  text-decoration: underline;
  font-weight: 500;
}

.button-change:hover {
  color: darkslateblue;
  cursor: pointer;
}

.confirm-button {
  width: fit-content;
  height: 50%;
  color: white;
  background-color: #00308f;
  font-size: 100%;
  font-family: "Ubuntu";
  border-color: transparent;
  border-radius: 10px;
  margin-right: 10%;
}

.confirm-button:hover {
  background-color: #7cb9e8;
}

@media (max-width: 768px) {
  .summary {
    margin-top: 30px;
  }

  .summary,
  .total-info {
    width: 80%;
    margin-left: 5%;
  }

  .total-info p {
    margin-left: 2%;
  }

  .total-info span {
    margin-top: 2%;
    margin-right: 6%;
  }
}
