.addon-card {
  display: flex;
  align-items: center;
  width: 95%;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid silver;
  border-radius: 8px;
  position: relative;
}

.addon-card.active {
  background-color: #f0f8ff;
  border-color: darkslateblue;
}

.addon-card:hover {
  cursor: pointer;
}

.addon-checkbox {
  width: 15px;
  height: 15px;
  margin-left: 20px;
}

.addon-content h3,
.addon-content p {
  margin: 0;
  margin-left: 20px;
}

.addon-content p {
  font-size: 18px;
}

.addon-card span {
  position: absolute;
  right: 1%;
  top: 40%;
}

@media (max-width: 768px) {
  .addon-card {
    width: 90%;
    margin-left: 5%;
  }
}
