.formStep1 input {
  width: 95%;
  height: 40px;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #2a0d6f;
  border: 1px solid silver;
  border-radius: 6px;
}

.formStep1 input:hover {
  cursor: pointer;
  border-color: #2a0d6f;
}

.formStep1 label {
  width: 95%;
  display: flex;
  justify-content: space-between;
  color: #2a0d6f;
  margin-top: 30px;
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 500;
}

input::placeholder {
  color: silver;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.formStep1-error {
  color: red;
}

.formStep1-errorBorder {
  border: 1px solid red !important;
}

.next-button {
  position: absolute;
  right: 0;
}

@media (max-width: 768px) {
  .formStep1 label,
  .formStep1 input {
    width: calc(80% + 30px);
    margin-left: 5%;
  }

  .formStep1 input {
    width: 85%;
    height: 40px;
  }
}
