.step-sidebar {
  width: 40%;
  background: url(../assets/images/bg-sidebar-desktop.svg) no-repeat
    center/cover;
  margin: 20px;
  border-radius: 12px;
}

.step-list {
  width: 70%;
  margin-top: 75px;
  margin-left: 30px;
  list-style: none;
  padding: 0;
}

.step-item {
  display: flex;
  align-items: center;
  margin-top: 35px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.step-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  margin-right: 15px;
  font-weight: bold;
  border: 1px solid white;
  border-radius: 50%;
  color: white;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
}

.step-indicator.active {
  color: black;
  border-color: transparent;
  background-color: #89cff0;
}

.step-details .small {
  font-size: 18px;
  color: silver;
}

.step-details p {
  color: white;
  font-weight: bold;
  margin: 0;
}

@media (max-width: 2059px) {
  .step-indicator {
    padding: 5px 10px;
  }

  .step-details .small {
    font-size: 16px;
  }
  
  .step-details p {
    font-size: 22px;
  }
}

@media (max-width: 1540px) {
  .step-list {
    margin-top: 20%;
  }
}

@media (max-width: 1184px) {
  .step-list {
    margin-top: 0;
  }
}

@media (max-width: 768px) {
  .step-sidebar {
    width: 100%;
    height: 20%;
    min-height: 150px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    background: url(../assets/images/bg-sidebar-mobile.svg) no-repeat
      center/cover;
    border-radius: 0;
  }

  .step-list {
    width: 60%;
    display: flex;
    justify-content: center;
  }

  .step-item {
    margin-bottom: 20%;
  }

  .step-indicator {
    margin-right: 20px;
    padding: 15px 20px;
  }

  .step-details {
    display: none;
  }
}
